body {
   
    font-family: 'Press Start 2P', cursive;
    background-color: rgb(192, 192, 192);
    background-repeat: no-repeat;
}


.bgChange1 {
    
    background-color: #4a4a4a;
    
}
.bgChange2 {
   
    background-color: #d5d5d5;
    background-size: cover;
}

.bgChange0 {
    background-color: rgb(0, 0, 0);
}

h3{
    font-family: 'Press Start 2P', cursive;
     text-align: center;
     color: rgb(45, 81, 105);
 }

p{
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
     text-align: center;
     color: black;
 }
.timer{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

button{
    display:inline-block;
    padding: 1cm 5cm;
    
    margin: 5cm ;
    border-radius:5cm;
    
    font-size: 25px;
    font-family:'Press Start 2P', cursive;
    font-weight:300;
    color:rgb(0, 0, 0);
    text-align:center;
    display:block;
    margin:0.1cm auto;
    background-color: transparent;
}

button:hover {
    background-color: white;
}
