body {
    font-family: 'Press Start 2P', cursive;
    background-color: beige;
    background-repeat: no-repeat;
}
.bgChange1 {
    background-color: #39D3AA;
    
}
.bgChange2 {
    background-image: url("confetti.gif");
    background-size: cover;
}
h3{
    font-family: 'Press Start 2P', cursive;
     text-align: center;
     color: rgb(45, 81, 105);
 }

p{
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
     text-align: center;
     color: black;
 }
.timer{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}
 
button:hover {
    background-color: rgb(156, 224, 167);
}
